/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.

Make sure to learn what the starter code does!!
*/

*:focus{
  border: 2px;
}

body{
  color: black;
  font-family: 'Andika', sans-serif;
  font-size: 16px;
  margin: 1.2em;
  background-image: url("../images/pigeon-background.JPEG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover ;
  background-color: #dddddd;
}

main{
  margin-bottom: 100px;
}

h1{
  color: #8000FF;
  font-size: 2em;
  line-height: 1.5;
  text-align: center;
}

caption{
  margin:5px 0px;
  padding-bottom: 9px;
}

p{
  color:black;
  font-size: 16px;
  padding-top: 10px;
}


a{
  color:#B21F50;
  font-size: 16px;
  text-decoration-style: wavy;
}




table{
    border-collapse: separate;
    border: 2px solid black;
    border-radius: 15px;
    -moz-border-radius:15px;
}


html, body {
    width: 100%;
}

table {
    margin: 0 auto;
}


.colhead{
  background-color: #7e0820;
  color: white;
  column-width: 100px;
  min-width: 100px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;

}

.colhead:first-child{
  border-top-left-radius:12.4px;
}

.colhead:nth-child(7){
  border-top-right-radius:12.4px;
}

.rowhead{
  border-top: 2px solid black;
}

td,th{
  text-align: center;
  border-top: 2px solid black;
  padding: 15px;
}


th{
  border-top: none;
}


td{
  padding: 15px;
}

td:first-child, th:first-child {
     border-left: none;
}



tr:nth-child(odd){
  background-color: #D1D1D1;
}

tr:nth-child(even){
  background: transparent;
}

tr:hover{
  background-color: rgb(126,8,32,0.5)
}



*:focus{
  border: 2px solid black;
}



footer{
  position:fixed;
  left:0px;
  bottom:0px;
  min-height: 60px;
  width:100%;
  background:black;
  text-align:center;
  color: white;
}

footer p{
  color:white
}
